.chat-window-header{
    display:flex;
    flex-wrap:Wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:1em;
    background-color: #2A55C2;
    color:white;
    cursor:pointer;
}

.chat-window-header h3{
    padding:0;
    margin:0;
}

.chat-window-header div{
    display:flex;
}

.chat-window-header div span{
    cursor:pointer;
    margin-left:.5em;
    border-radius:50px;
    width:1.5rem;
    height:1.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.chat-window-header div span:hover{
    background:#698be0;
}

.chat-message-wrap{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    width:18rem;
}

.messages-wrap-scroll-div{
    height:20rem;
    overflow-y: scroll;
}

.chat-message-wrap ul{
    margin:0;
    box-sizing: border-box;
    padding:.5em;
    height:auto;
}

.chat-message-wrap ul li{
    margin:0;
    padding:0;
    list-style: none;    
    width:fit-content;
    max-width:100%;
    color:white;
    padding:5px;
    border-radius:25px;
    margin-bottom:.25em;
}

.chat-message-wrap ul li.from{
    margin-right:auto;
    background:#2A55C2;
    border-bottom-left-radius: 0px;
}

.chat-message-wrap ul li.to{
    margin-left:auto;
    background:#9f9fa0;
    border-bottom-right-radius: 0px;
}

.chat-message-wrap-controls{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background:white;
    padding-top:1em;
}

.chat-message-wrap-controls textarea{
    resize:none;
    width:calc(100% - 5rem);
}

.chat-message-wrap-controls button{
    background:#2A55C2;
    border-radius:50px;
    height:3rem;
    color:White;
    font-size:1.4em;
    transform:rotate(-30deg);
    width:3rem;
}