.form{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    box-sizing: border-box;
    padding:2rem;
}

.form input, .form select, .form textarea{
    margin-bottom:1rem;
    font-size:1.2em;
    padding: .5em;
}

.form button{
    font-size:1.2em;
    padding:1em;
    background:green;
    border-radius:15px;
    color:white;
}