.story-wrap{
  width:100%;
  overflow-x:scroll;
  overflow-y: hidden;
}

.story-overlay{
    width:fit-content;
    display:flex;
    overflow-y: hidden;
}

.post{
    box-sizing: border-box;
    padding:1rem 1.5rem;
    display:flex;
    width:calc(100% - 4rem);
    margin:2rem auto;
    justify-content: center;
    align-items: center;
}

.post textarea{
    resize:none;
    border:none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    margin:0 .5rem;
    padding-top:1rem;
    width:80%;
}

.post button{
    padding: .8em 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.05em;
    margin-left:auto;
}